.header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #2983c6;
}

.container {
    margin: auto;
}

.inputBox {
    margin: auto;
    border: 1px solid;
    height: 320px;
    width: 600px;
}

.inputBoxReg {
    margin: auto;
    border: 1px solid;
    border-color: black;
    height: 1000px;
    width: 600px;
}

.inputBoxReg .row {
    max-width: 600px;
    width: 100%;
    margin: auto;
    margin-left: 10px;
}

input[type=text], select, textarea {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 10px;
}

input[type=password], select, textarea {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 10px;
}

input[type=file], select, textarea {
    width: 70%;
    padding: 5px;
    resize: vertical;
    margin-top: 25px;
}

.inputBoxReg textarea {
    margin-top: 10px;
}

label {
    padding: 5px 5px 5px 0;
    display: inline-block;
    margin-top: 10px;
}

button[type=submit] {
    background-color: #2983c6;;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;

}

button:hover {
    background-color: darkblue;
}

.inputBox {
    border-radius: 5px;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 2px;
}

.col-75 {
    float: right;
    width: 75%;
    margin-top: 2px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.showHidePword {
    cursor: pointer;
    background-color: #2983c6;;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    margin-bottom: 5px;
    font-size: 10pt;
    text-align: center;
    margin-left: 25%;
}

.showHidePword:hover {
    background-color: darkblue;
}

.wrapper{
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    height: 660px;
}

div p {
    float: right;
    font-size: 10pt;
    margin-top: 10px;
    margin-right: 10px;
}
